
.notification-container {
  background-color: #CCE5FF;
  border: 0.1rem solid #88DAFF;
  border-radius: .2rem;
  padding: 1rem;
  width: 20rem;

  margin: 1rem;

  span {
    color: #32657d;
    font-weight: bold;
  }
}